In [1]:
%cd Training
from Training.Book_Comparer import Book, BookComparer

/Users/sethjpete/Documents/Econ 484/Project/Training

In [3]:
comparer = BookComparer('exported_models/Large_SPL.csv', 'exported_models/', verbose=False, count = 6)

In [4]:
comparer.compare_book(Book('Twilight'))

,title_b,author_b,publisher_b,publish_year_b,title_a
393,A trick of the light,"Penny, Louise","Minotaur Books,",2011,Twilight
26808,Out of the dawn light,"Clare, Alys","Severn House,",2009,Twilight
1406,Twilight,"Hunter, Erin","HarperCollins,",2006,Twilight
165,Twilight,"Meyer, Stephenie, 1973-","Little, Brown and Co.,",2005,Twilight
25726,Vienna twilight,"Tallis, Frank","Random House Trade Paperbacks,",2010,Twilight
15490,Twilight : the complete illustrated movie comp...,"Vaz, Mark Cotta","Little, Brown and Company,",2008,Twilight