In [4]:
%cd Training
from Training.Book_Comparer import Book, BookComparer

c:\Users\sethj\Documents\Econ484\econ484project\econ484project\Training

In [5]:
comparer = BookComparer('exported_models/Large_SPL.csv', 'exported_models/', verbose=False, count = 6)

In [6]:
comparer.compare_book(Book('Twilight'))

,title_b,author_b,publisher_b,publish_year_b,title_a
165,Twilight,"Meyer, Stephenie, 1973-","Little, Brown and Co.,",2005,Twilight
1406,Twilight,"Hunter, Erin","HarperCollins,",2006,Twilight
2865,Twilight ; Life and death : a reimagining of t...,"Meyer, Stephenie, 1973-","Little, Brown and Company,",2015,Twilight
15490,Twilight : the complete illustrated movie comp...,"Vaz, Mark Cotta","Little, Brown and Company,",2008,Twilight
19466,The twilight zone. The monsters are due on Map...,"Kneece, Mark","Walker & Co.,",2009,Twilight
18951,The Twilight saga : the official illustrated g...,"Meyer, Stephenie, 1973-","Little, Brown,",2011,Twilight

In [7]:
comparer.compare_book(Book('Harry Potter and the Sorcerer\'s Stone'))

,title_b,author_b,publisher_b,publish_year_b,title_a
426,Harry Potter and the sorcerer's stone,"Rowling, J. K.","Arthur A. Levine Books, an imprint of Scholast...",2015,Harry Potter and the Sorcerer's Stone
348,Harry Potter and the sorcerer's stone,"Rowling, J. K.","A.A. Levine Books,",1998,Harry Potter and the Sorcerer's Stone
29435,Harry Potter and the sorcerer's stone [text (l...,"Rowling, J. K.","Thorndike Press,",1999,Harry Potter and the Sorcerer's Stone
16,Harry Potter and the cursed child. Parts one a...,"Thorne, Jack","Arthur A. Levine Books, an imprint of Scholast...",2016,Harry Potter and the Sorcerer's Stone
16635,Trials of the earth : the true story of a pion...,"Hamilton, Mary Mann.","Little, Brown and Company,",2016,Harry Potter and the Sorcerer's Stone
19977,Triceratops and other horned herbivores,"West, David, 1956-","Gareth Stevens Pub.,",2011,Harry Potter and the Sorcerer's Stone

In [8]:
comparer.compare_book(Book(author='J. K. Rowling', publisher='Bloomsbury Publishing', publish_year=1997))

,title_b,author_b,publisher_b,publish_year_b,author_a,publisher_a,publish_year_a
26,Ru : a novel,"Thúy, Kim","Bloomsbury,",2012,J. K. Rowling,Bloomsbury Publishing,1997
38,The rider,"Krabbé, Tim","Bloomsbury,",2003,J. K. Rowling,Bloomsbury Publishing,1997
3,Princesses are not perfect,"Lum, Kate","Bloomsbury,",2010,J. K. Rowling,Bloomsbury Publishing,1997
21,Our divided political heart : the battle for t...,"Dionne, E. J.","Bloomsbury,",2012,J. K. Rowling,Bloomsbury Publishing,1997
18,In darkness,"Lake, Nick","Bloomsbury,",2012,J. K. Rowling,Bloomsbury Publishing,1997
39,Hostage Three,"Lake, Nick","Bloomsbury,",2013,J. K. Rowling,Bloomsbury Publishing,1997